[Unit]
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
StateDirectory=%N
WorkingDirectory=%S/%N
EnvironmentFile=/etc/default/%N
ExecStart=vmagent -envflag.enable=true

[Install]
WantedBy=multi-user.target
