{% raw -%}
sources:
  docker_logs_raw:
    type: docker_logs

transforms:
  docker_logs_filtered:
    type: filter
    inputs: [docker_logs_raw]
    condition: >
      .stream != "console" &&
      starts_with!(.label."com.docker.compose.project.working_dir", replace(get_env_var!("SERVICES_ROOT"), r'/$', "") + "/")

  docker_logs:
    type: remap
    inputs: [docker_logs_filtered]
    source: |
      . = {
        "host": .host,
        "source": .source_type,
        "level": "unknown",
        "service": .label."com.docker.compose.service",
        "message": .message
      }
{% endraw %}
