{% raw -%}
sources:
  journald_logs_raw:
    type: journald
    current_boot_only: false

transforms:
  journald_logs:
    type: remap
    inputs: [journald_logs_raw]
    source: |
      level = "unknown"
      priority = to_int(.PRIORITY) ?? 99
      if priority <= 2 { level = "critical" } else
      if priority == 3 { level = "error" } else
      if priority == 4 { level = "warning" } else
      if priority <= 6 { level = "info" } else
      if priority == 7 { level = "debug" }
      . = {
        "host": .host,
        "source": "journald",
        "level": level,
        "service": ._SYSTEMD_UNIT || .SYSLOG_IDENTIFIER || ._COMM,
        "message": .message
      }
{% endraw %}
