{% raw -%}
sources:
  sensors_exec_raw:
    type: exec
    mode: scheduled
    command:
      - sensors
      - --config=/dev/null
      - --no-adapter
      - -j
    include_stderr: false
    scheduled:
      exec_interval_secs: 15
    framing:
      method: bytes

transforms:
  sensor_exec:
    type: remap
    inputs: [sensors_exec_raw]
    source: |
      result = []
      output = parse_json!(string!(del(.message)))
      for_each(object!(output)) -> |chip, sensors| {
        for_each(object!(sensors)) -> |sensor, metrics| {
          for_each(object!(metrics)) -> |metric, value| {
            result = push(result, merge(., {
              "name": "sensors_" + replace(metric, r'[0-9]', ""),
              "value": value,
              "chip": chip,
              "sensor": sensor,
            }))
          }
        }
      }
      . = result

  sensor_metrics:
    type: log_to_metric
    inputs: [sensor_exec]
    metrics:
      - namespace: host
        name: '{{ name }}'
        field: value
        tags:
          collector: sensors
          host: '{{ host }}'
          chip: '{{ chip }}'
          sensor: '{{ sensor }}'
        type: gauge
{% endraw %}
