{% raw -%}
sources:
  reboot_required_exec_raw:
    type: exec
    mode: scheduled
    command:
      - sh
      - -c
      - test -e /var/run/reboot-required && echo 1 || echo 0
    include_stderr: false
    scheduled:
      exec_interval_secs: 60

transforms:
  reboot_required_exec:
    type: remap
    inputs: [reboot_required_exec_raw]
    source: |
      .value = to_int!(.message)

  reboot_required_metrics:
    type: log_to_metric
    inputs: [reboot_required_exec]
    metrics:
      - namespace: host
        name: reboot_required
        field: value
        tags:
          collector: reboot_required
          host: '{{ host }}'
        type: gauge
{% endraw %}
