{% raw -%}
sinks:
  loki:
    type: loki
    inputs: ['*_logs']
    encoding:
      codec: text
    labels:
      host: '{{ host }}'
      source: '{{ source }}'
      service: '{{ service }}'
      level: '{{ level }}'
    remove_label_fields: true
    healthcheck:
      enabled: false
    endpoint: '$LOKI_ENDPOINT'
    auth:
      strategy: basic
      user: '$LOKI_USERNAME'
      password: '$LOKI_PASSWORD'

  prometheus_remote_write:
    type: prometheus_remote_write
    inputs: ['*_metrics']
    healthcheck:
      enabled: false
    endpoint: '${PROMETHEUS_ENDPOINT}/api/prom/push'
    auth:
      strategy: basic
      user: '$PROMETHEUS_USERNAME'
      password: '$PROMETHEUS_PASSWORD'
{% endraw %}
