[Unit]
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/default/xarpd
ExecStart=xarpd $RESOLVERS

[Install]
WantedBy=multi-user.target
